body {
    font-family: Arial;
    background: #eaf4ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #28a745;
}

.buttons {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    text-decoration: none;
    margin: 5px;
}

.home {
    background: #28a745;
}